<html>
  <head>
  <title>Ejsss</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>H ejp Loop it!</h1>
    <ul>
        <% for(var i=0; i<5; i++){ %>
            <li>
                <%= "LOOP" + i %>
            </li>
        <% } %>
    </ul>
  </body>
</html>
